@model FileManagerModel
@{
    ViewBag.Title = "Arquivos";
}

@if (Model.Files != null)
{
    <h3>Imagens:</h3>
    <hr />
    var caminho = Model.PathImagesProduto;
    <div class="row">
        @foreach (FileInfo file in Model.Files)
        {
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center mb-4">
                <img src="~/@caminho/@file.Name" width="125" height="125" />
                <div class="mt-2">
                    <a href="@Url.Action("Deletefile", "AdminImagens", new { fname = file.Name })"
                       class=" btn btn-sm btn-outline-danger">
                        Deletar
                    </a>
                </div>
            </div>
        }
    </div>
}